<div class="todo-container">
  <div class="header-section">
    <h2 class="login-title">{{ 'TODO.TITLE' | translate }}</h2>
    <div class = "lang-section">
      <p-dropdown
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        (onChange)="switchLang($event.value)"
        placeholder="Language"
        class="lang-dropdown"
        styleClass="p-dropdown-sm"
        [showClear]="false"
      ></p-dropdown>
    </div>
  </div>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="todo-form">
    <div class="form-group">
      <input
        type="text"
        formControlName="title"
        placeholder="{{ 'TODO.ENTERTODO' | translate }}"
        class="todo-input"
        [class.error]="todoForm.get('title')?.invalid && todoForm.get('title')?.touched"
      />
      <div *ngIf="todoForm.get('title')?.invalid && todoForm.get('title')?.touched" class="error-message">
        {{ 'TODO.ERROR.REQUIRED' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="completed" /> {{ 'TODO.COMPLETE' | translate }}
      </label>
    </div>

    <button type="submit" [disabled]="todoForm.invalid || loading" class="submit-btn">
      {{ editingTodo ? ('TODO.UPDATE' | translate) : ('TODO.ADDTODO' | translate) }}
    </button>

    <button *ngIf="editingTodo" type="button" (click)="resetForm()" class="cancel-btn">Cancel</button>
  </form>

  <div *ngIf="loading" class="loading">Loading...</div>

  <ul class="todo-list" *ngIf="!loading">
    <li *ngFor="let todo of paginatedTodos" class="todo-item">
      <div class="todo-content">
        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="toggleCompleted(todo)"
          class="todo-checkbox"
        />
        <span [class.completed]="todo.completed">{{ todo.title }}</span>
      </div>
      <div class="todo-actions">
        <button (click)="editTodo(todo)" class="edit-btn">{{ 'TODO.EDIT' | translate }}</button>
        <button (click)="deleteTodo(todo.id)" class="delete-btn">{{ 'TODO.DELETE' | translate }}</button>
      </div>
    </li>
  </ul>

  <div *ngIf="todos.length === 0 && !loading" class="no-todos">
    {{ 'TODO.ERROR.NOTFOUNDTODO' | translate }}
  </div>



  <div class="card flex justify-content-center" *ngIf="todos.length > 0 && !loading">
    <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="(currentPage - 1) * itemsPerPage" 
      [rows]="itemsPerPage" 
      [totalRecords]="todos.length" 
      [rowsPerPageOptions]="[9,18,27]"
    />
  </div>
</div>