<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<!-- Main app content -->
<router-outlet *ngIf="isAppReady"/>

<!-- Loading spinner for app initialization -->
<ngx-spinner name="appLoader"
             type="ball-spin-fade-rotating">
</ngx-spinner>

<!-- Default spinner for other operations -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="large"
             color="var(--primary-color)"
             type="ball-scale-ripple-multiple"
             [fullScreen]="true">
</ngx-spinner>
