/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "../node_modules/ngx-spinner/animations/ball-scale-ripple-multiple.css";
@import "../node_modules/ngx-spinner/animations/ball-spin-fade-rotating.css";